<div class='education content-box position-relative p-3'>
    <img _ngcontent-ng-c3964463978="" _ngcontent-ng-c3255353894="" src="/assets/icons/info_light.svg" alt="" style="position: absolute; right: 1rem; top: 1rem;">
    <div class='education__heading'>
      <h4>People Hazardous Zone / Critical Mission</h4>
    </div>
    <span class="small-head">Updated since last 5 minutes</span>
    <div class='education__content'>
      <h5>Mohammad Yousef Ali </h5>
      <span class='year'><img src="/assets/icons/person1.png" alt=""></span>
      <div class="d-flex gap-5 justify-content-between">
        <p>HSE Manager</p>
        <span class="time-period">01:44</span>
      </div>
    </div>
    <div class='education__content'>
        <h5>Mohammad Yousef Ali </h5>
        <span class='year'><img src="/assets/icons/person1.png" alt=""></span>
        <div class="d-flex gap-5 justify-content-between">
          <p>HSE Manager</p>
          <span class="time-period">01:44</span>
        </div>
      </div>
      <div class='education__content'>
        <h5>Mohammad Yousef Ali </h5>
        <span class='year'><img src="/assets/icons/person1.png" alt=""></span>
        <div class="d-flex gap-5 justify-content-between">
          <p>HSE Manager</p>
          <span class="time-period">01:44</span>
        </div>
      </div>
      <div class='education__content'>
        <h5>Mohammad Yousef Ali </h5>
        <span class='year'><img src="/assets/icons/person1.png" alt=""></span>
        <div class="d-flex gap-5 justify-content-between">
          <p>HSE Manager</p>
          <span class="time-period">01:44</span>
        </div>
      </div>
  </div>