<div class="chart-container" style="position: relative;">
    <div class="widget-info d-flex">
        <div>
        <h6 class="pb-0 mb-4">Live Workers Trend per Zone <small class="small-percent"><img src="/assets/icons/arrow_down.svg" alt=""></small></h6>
        <p class="pb-0 mb-0 chart-desc">People Activity Trend for the last 12 hours </p>
    </div>
        <div class="chart-info d-flex gap-3 mt-1">
            <span class="text-desc"><small class="cricle d-inline-block green-circle"></small> Green Zone</span> <span class="text-desc"> <small class="cricle d-inline-block orange-circle"></small> Amber Zone</span> <span class="text-desc"> <small class="cricle d-inline-block red-circle"></small> Red Zone</span>
        </div>
    </div>   
     <img src="/assets/icons/info_light.svg" alt="" style="position: absolute; right: 1rem; top:1rem;">
<canvas id="MyChart1" style="height: 17.8rem;">{{ chart }}</canvas>
</div>