<div class="container-fluid">
    <div class="row animate__animated animate__fadeInDown">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <app-image-widget></app-image-widget>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <app-live-event-widget></app-live-event-widget>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <app-devices-status-widget></app-devices-status-widget>
            <app-weather-widget></app-weather-widget>
        </div>
    </div>
    <div class="row mt-4 animate__animated animate__fadeInUp">
        <div class="col-12 col-sm-12 col-lg-8">
            <app-live-w-trend-widget></app-live-w-trend-widget>
        </div>
        <div class="col-12 col-sm-12 col-lg-4">
        <app-people-hazardous-timeline-wedgit></app-people-hazardous-timeline-wedgit>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <app-site-board-event-widget></app-site-board-event-widget>
        </div>
    </div>
</div>
