<div class="content-box mt-4 pb-1 row p-2">
    <div class="col-5">
    <div>
        <img src="/assets/icons/weather-bg-icon.svg" alt="">
        <span class="weather-big-digree ms-3">32°C</span>
        <p class="weather-big-title">Amman, Jordan</p>
    </div>
</div>
    <div class="col-7">


    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="justify-content-start text-center mt-3">
                <p class="mb-0 weather-time">2 PM</p>
                <img src="/assets/icons/weather-bg-icon.svg" width="57" height="57" alt="">
                <p>28</p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="justify-content-start text-center mt-3">
                <p class="mb-0 weather-time">3 PM</p>
                <img src="/assets/icons/weather-bg-icon.svg" width="57" height="57" alt="">
                <p>28</p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="justify-content-start text-center mt-3">
                <p class="mb-0 weather-time">4 PM</p>
                <img src="/assets/icons/weather-bg-icon.svg" width="57" height="57" alt="">
                <p>28</p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="justify-content-start text-center mt-3">
                <p class="mb-0 weather-time">5 PM</p>
                <img src="/assets/icons/weather-bg-icon.svg" width="57" height="57" alt="">
                <p>28</p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="justify-content-start text-center mt-3">
                <p class="mb-0 weather-time">6 PM</p>
                <img src="/assets/icons/weather-bg-icon.svg" width="57" height="57" alt="">
                <p>28</p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="justify-content-start text-center mt-3">
                <p class="mb-0 weather-time">7 PM</p>
                <img src="/assets/icons/weather-bg-icon.svg" width="57" height="57" alt="">
                <p>28</p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="justify-content-start text-center mt-3">
                <p class="mb-0 weather-time">8 PM</p>
                <img src="/assets/icons/weather-bg-icon.svg" width="57" height="57" alt="">
                <p>28</p>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
</div>