<div class="chart-container" style="position: relative;">
    <div class="widget-info">
        <h6 class="pb-0">Live events</h6>
        <p class="pb-0 mb-0 chart-desc">Current statistics for the events </p>
        <div class="chart-info d-flex justify-content-center align-items-end gap-5 mt-3">
            <div>
                <img src="/assets/icons/blue-circle.svg" alt="">
                <p class="mb-0">13 <small class="small-percent"> <img src="/assets/icons/arrow-up.svg" alt=""> 15.2%</small></p>
                <small class="small-text">Total Info</small>
            </div>
            <div>
                <img src="/assets/icons/orange-circle.svg" alt="">
                <p class="mb-0">5 <small class="small-percent"><img src="/assets/icons/arrow-up.svg" alt=""> 15.2%</small></p>
                <small class="small-text">Total Info</small>
            </div>
            <div>
                <img src="/assets/icons/red-circle.svg" alt="">
                <p class="mb-0">1 <small class="small-percent"><img src="/assets/icons/arrow-up.svg" alt=""> 15.2%</small></p>
                <small class="small-text">Total Info</small>
            </div>
        </div>
    </div>
    <img src="/assets/icons/info_light.svg" alt="" style="position: absolute; right: 1rem; top:1rem;">
    <canvas id="MyChart" style="height: 20rem;">{{ chart }}</canvas>
</div>