@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$primary-color:#323232;
$secondery-color:#37393D;
$white-color:#FFF;

input {border:0;outline:0;}
input:focus {outline:none!important;}

body,html{
    background-color: $primary-color!important;
    color: $white-color!important;
    font-family: arial!important;
    overflow-x: hidden;
}


.border-with-shaddow{
    box-shadow: 0px 0px 10px #00000026;
    border-radius: 0.8rem;
}

.search-header{
    width: 21rem;
    height: 2.4rem;
}

@media screen and (max-width: 767px) {
    .content-box{
        padding: 1rem!important;
    }

    #MyChart4{
        width: 100%!important;
    }
  }