<div class="position-relative content-box">
    <img _ngcontent-ng-c3255353894="" src="/assets/icons/info_light.svg" alt="" style="position: absolute; right: 1rem; top: 1rem;">
    <h6 class="mb-5 position-relative head-title">Devices Status Distribution <small _ngcontent-ng-c326331951="" class="small-percent"><img src="/assets/icons/arrow_down.svg" alt=""></small></h6>
    <div class="d-flex justify-content-around gap-2">
        <div><img src="/assets/icons/icon-smartphone.svg" alt=""></div>
        <div class="d-flex justify-content-center flex-column align-item-center text-center">
            <span class="circle blue-circle"></span>
            <p class="text-number mt-2 mb-0">724</p>
            <p class="text-status">Assigned</p>
        </div>
        <div class="d-flex justify-content-center flex-column align-item-center text-center">
            <span class="circle green-circle"></span>
            <p class="text-number mt-2 mb-0">120</p>
            <p class="text-status">Idle</p>
        </div>
        <div class="d-flex justify-content-center flex-column align-item-center text-center">
            <span class="circle orange-circle"></span>
            <p class="text-number mt-2 mb-0">80</p>
            <p class="text-status">Others</p>
        </div>
    </div>
</div>